.admin-courses {
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding: 20px;
}

.left {
<<<<<<< HEAD
  flex: 2; /* Take up twice as much space as the right side */
  .dashboard-content {
    display: flex;
    justify-content: center; /* Center content */
=======
  flex: 2; 
  .dashboard-content {
    display: flex;
    justify-content: center; 
>>>>>>> e98cb42b28b82e0cc092ce9e39eb6c683231ab29
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 40px;
  }
  h1{
    text-align: center;
  }
}

.right {
<<<<<<< HEAD
  flex: 1; /* Take up less space than the left side */
  position: sticky; /* Ensure the right side stays in place */
  top: 20px; /* Add some space from the top */
=======
  flex: 1; 
  position: sticky; 
  top: 20px; 
>>>>>>> e98cb42b28b82e0cc092ce9e39eb6c683231ab29
  
  .course-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    
    h2 {
      font-size: 24px;
      color: #8a4baf;
      margin-bottom: 15px;
    }

    form {
      text-align: left;

      label {
        display: block;
        margin-bottom: 5px;
        font-size: 15px;
        color: #333;
      }

      input,
      select {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }

      img {
        margin-top: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
    }
  }
}

.common-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #5091E6;
  color: white;
  padding: 12px 24px;
  margin-top: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease, transform 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.common-btn:hover {
  background-color: #407ac6;
  transform: translateY(-3px);
}

.common-btn svg {
  margin-right: 10px;
  font-size: 20px;
}

/* Logout button specific styling */
.common-btn.logout {
  background-color: #e65050;
}

.common-btn.logout:hover {
  background-color: #c44040;
}

<<<<<<< HEAD
/* Ensure three items per row in the dashboard content */
.course-card {
  flex: 1 1 calc(33.333% - 40px); /* Adjust width for three items per row */
  box-sizing: border-box;
  margin: 10px; /* Adjust margin as needed */
=======
.course-card {
  flex: 1 1 calc(33.333% - 40px); 
  box-sizing: border-box;
  margin: 10px; 
>>>>>>> e98cb42b28b82e0cc092ce9e39eb6c683231ab29
}

@media (max-width: 768px) {
  .course-card {
<<<<<<< HEAD
    flex: 1 1 calc(50% - 40px); /* Two items per row on smaller screens */
=======
    flex: 1 1 calc(50% - 40px); 
>>>>>>> e98cb42b28b82e0cc092ce9e39eb6c683231ab29
  }
}

@media (max-width: 480px) {
  .course-card {
<<<<<<< HEAD
    flex: 1 1 100%; /* One item per row on very small screens */
=======
    flex: 1 1 100%; 
>>>>>>> e98cb42b28b82e0cc092ce9e39eb6c683231ab29
  }
}
