.main-content {
  display: flex;
  justify-content: center;
<<<<<<< HEAD
  align-items: stretch; /* Stretch items vertically to equal height */
=======
  align-items: stretch; 
>>>>>>> e98cb42b28b82e0cc092ce9e39eb6c683231ab29
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.box {
<<<<<<< HEAD
  flex: 1; /* Ensure each box takes up equal space */
=======
  flex: 1; 
>>>>>>> e98cb42b28b82e0cc092ce9e39eb6c683231ab29
  background-color: #e6f2ff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #004080;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;

  p {
    margin: 10px 0;
    font-size: 18px;
  }

  &:hover {
    background-color: #b3d9ff;
    transform: translateY(-5px);
  }
}

@media (max-width: 768px) {
  .main-content {
<<<<<<< HEAD
    flex-direction: column; /* Stack boxes vertically on smaller screens */
=======
    flex-direction: column; 
>>>>>>> e98cb42b28b82e0cc092ce9e39eb6c683231ab29
  }
}
