.lecture-page {
  display: flex;
  justify-content: space-between;
  min-height: 80vh;

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left {
    width: 70%;
    padding: 10px;
    align-items: center;

    @media (max-width: 768px) {
      width: 90%;
    }
  }

 
  .right {
    width: 80%;

    .lecture-form {
      background-color: #fff;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0px, 2px, 4px, rgba(0, 0, 0, 0.1);
      text-align: center;
      width: auto;

      h2 {
        font-size: 24px;
        color: #235beb;
        margin-bottom: 15px;
      }

      form {
        text-align: left;

        label {
          display: block;
          margin-bottom: 5px;
          font-size: 14px;
          color: #333;
        }

        input {
          width: 92%;
          padding: 10px;
          margin-bottom: 15px;
          border: 1px solid black;
          border-radius: 5px;
        }
      }
    }

    @media (max-width: 768px) {
      width: 80%;
      margin-bottom: 10px;
    }

    .lecture-number {
      background-color: #fff;
      padding: 10px;
      border: 1px double #7091E6;
      margin-top: 15px;
      border-radius: 15px;
      text-align: center;
      cursor: pointer;
      align-items: center;
      /* border: none; */

      &:hover {
        background-color: #acc0f3;
        color: black;
        font-size: 20px;
        font-weight: bold;
      }
    }

    .active {
      background-color: #235beb;
      color: white;
    }
  }
}

.progress {
  width: 100%;
  background-color: #eae4e4;
  padding: 6px;
  border-radius: 5px;
  margin: 3px auto;
  text-align: center;
  color: rgb(6, 6, 6);
  float: left;
}

.progress progress {
  width: 100%;
  height: 8px;
  border-radius: 5px;
  overflow: hidden;
  appearance: none; /* Remove default styling */

  &::-webkit-progress-bar {
    background-color: #f3f3f3; /* Background color of the bar */
    border-radius: 5px;
  }

  &::-webkit-progress-value {
    background-color: #235beb; /* Meter color */
    border-radius: 5px;
    transition: width 0.5s ease-in-out; /* Smooth transition */
  }

  &::-moz-progress-bar {
    background-color: #235beb; /* Meter color for Firefox */
    border-radius: 5px;
    transition: width 0.5s ease-in-out; /* Smooth transition */
  }
}
.title-main{
  margin-left: 16px;
  font-size: 60px;
  /* font-family: sofia-pro; */
  letter-spacing: 1px;
  text-transform: capitalize;
  color: #060606;
  margin-bottom: 7px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.tick{
  height: 2px;
  color: rgb(56, 40, 231);
  font-size: 22px;
  margin-top: 0px;
  float: left;
  &:hover {
    background-color: #6186e3;
    color: white;
  }
}
